body {
    font-family: 'Oswald', sans-serif;
}

/*----------------------------Colours*/

.bg-color-nav {
    background-color: #404040;
}

.nav-text-color {
    color: #f2f2f2;
}

/*----------------------------Navbar*/

.nav-bar-main {
    border: 1px solid #D93A2B;
}